#signIn-Container {
  color: white;
}

.inputEl {
  position: relative;
}

#signIn-Container input {
  color: black;
  padding: 5px;
  margin: 3px;
}

#signIn-Container button {
  font-family: "Electrolize", sans-serif;
  margin: 5px;
  padding: 3px;
  border: none;
  border-radius: 0px;
  font-size: large;
  font-weight: 500;
}

#signIn-Container button:hover {
  box-shadow: inset 0px 0px 10px rgb(126, 0, 0);
  cursor: pointer;
}

#signIn-Container a {
  display: block;
  margin: 5px;
  color: rgb(163, 201, 235);
}
